.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;      
  overflow: hidden;   
}

.barraBienvenida {
  flex-shrink: 0;     
}

.contenido {
  flex: 1;            
  overflow-y: auto;  
  margin: 0;
  padding: 0;
}
