html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  background: #f6f6f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inicio {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background: #f6f6f6;
  padding-bottom: 40px;
}

#barraBienvenida {
  width: 100%;

  background-color: rgb(211, 254, 213);
  color: rgb(5, 5, 71);

  margin: 0 auto;
  padding: 10px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  border-radius: 0 0 12px 12px;
}

#barraBienvenida h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

#barraBienvenida img {
  width: 130px;
  height: auto;
}


#formulario {
  background: white;
  margin-top: 40px;
  padding: 30px 40px;

  width: 100%;
  max-width: 450px;

  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.15);

  margin-left: auto;
  margin-right: auto;

  color: rgb(5, 5, 71);
  font-size: 20px;
  text-align: left;
}

#formulario h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  color: rgb(5, 5, 71);
}

.datos .titulo {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  font-weight: 600;
  color: rgb(5, 5, 71);
}

.datos input {
  margin-top: 6px;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  background: #e1dfdf;
  color: #000000;
  outline: none;
  transition: 0.2s;
}

.datos input::placeholder {
  color: #000000;
}

.datos input:focus {
  border-color: rgb(5, 5, 71);
  box-shadow: 0 0 4px rgba(5, 5, 71, 0.4);
}

button {
  width: 100%;
  padding: 12px;
  background-color: rgb(211, 254, 213);
  color: rgb(5, 5, 71);

  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: rgb(5, 5, 71);
  color: rgb(211, 254, 213);
}

#reservas {
  margin-top: 35px;
  padding: 15px;
  background: #fafafa;
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1);
}

#reservas div {
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: rgb(211, 254, 213);
  border-left: 2px solid white;
}

#reservas div:hover {
  background-color: rgb(5, 5, 71);
  color: rgb(211, 254, 213);
}

#reservas p {
  margin: 3px 0;
  color: rgb(5, 5, 71);
  font-size: 15px;
}

#reservas div:hover p {
  color: rgb(211, 254, 213);
}

