version: '3.8'

services:
  backend:
    build:
      context: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
     - db

  frontend:
    build:
      context: ./frontend/gestion-salas
    ports:
      - "8080:80"
    depends_on:
      - backend
  db:
    image: mysql:5.7
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
    
    #ports:
    #  - 3306:3306

volumes:
  mysql_data: